@import "caixa.scss";

body {
    background-color: black;
    h1 {
        color: green;
    }
}
.container {
    p {
        color: green;
        &:hover {
            // color: red;
            cursor: pointer;
        }
    }
}